absl-py==0.12.0
-e git+git@github.com:laszukdawid/ai-traineree.git@4ea3f2f6b050cf095fe9229c0b043ececc734c9e#egg=ai_traineree
build==0.3.1.post1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
ConfigArgParse==1.4
cycler==0.10.0
deepdiff==5.2.3
docker==4.4.4
docker-auto-labels==0.2.3
docopt==0.6.2
enum34==1.1.10
Flask==1.1.2
Flask-BasicAuth==0.2.0
future==0.18.2
gevent==21.1.2
geventhttpclient==1.4.4
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsons==1.4.2
kiwisolver==1.3.1
llvmlite==0.36.0
locust==1.4.3
MarkupSafe==1.1.1
matplotlib==3.4.1
mock==4.0.3
mpyq==0.2.5
msgpack==1.0.2
numba==0.53.1
numpy==1.20.1
ordered-set==4.0.2
packaging==20.9
pandas==1.2.4
pep517==0.10.0
Pillow==8.2.0
pipreqs==0.4.10
plumbum==1.7.0
portpicker==1.3.1
protobuf==3.15.5
psutil==5.8.0
pygame==2.0.1
pyglet==1.5.0
pylablib==0.4.2
pyparsing==2.4.7
PySC2==3.0.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
rpyc==5.0.1
s2clientprotocol==5.0.6.83830.0
s2protocol==5.0.6.83830.0
scipy==1.6.1
six==1.15.0
sk-video==1.1.10
toml==0.10.2
torch==1.8.0
typing-extensions==3.7.4.3
typish==1.9.2
urllib3==1.26.3
websocket-client==0.58.0
Werkzeug==1.0.1
whichcraft==0.6.1
yarg==0.1.9
zope.event==4.5.0
zope.interface==5.3.0
